/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

} 
body {
	text-align:center;
}
div#pagebody {
	width:796px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
	background-color:#ffffff;		/*内容全体の背景色*/
}
h3 {
	color: rgb(0, 7, 104);					/*カラムを左寄せにする*/
}

code {
	max-height: 350px;
}

/*============================================
ヘッダ
============================================*/
div#header {
	height:77px;
	width: 100%;
	position: fixed;
	background-color:#95e6ff;		/*ヘッダ部分の背景色*/
	z-index: 2;
	top: 0;
}
h1 {
	padding:20px 0px 0px 30px;		/*見出し内容の位置調整*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
/*============================================
サブメニュー
============================================*/
div#submenu {
	width: 25%;			/*幅の指定*/
	height: auto;
	max-height: 80%;
	margin:10px 10px 10px 0px;
	display:inline;
	top:80px;
	left:20px;
	background-color:#caf3ff;
	position: fixed;
	overflow: auto;
}

/*サブメニューのヘッダ部分（余白調整・背景画像・背景色・文字サイズなど）*/
div#submenu_header {
	color: cornsilk;
	height:26px; padding:4px 0px 0px 0px;
	background-repeat:no-repeat; background-position:top;
	background-color:#0074aa;
	font-size:90%; font-weight:bold; text-align:center;
}

/*サブメニューのボディ部分（余白調整・背景画像・背景色）*/
ul#submenu_body,div#ruby_class {
	padding-bottom:6px;
	padding-left:25px;
	background-repeat:no-repeat; background-position:bottom;
}
ul#submenu_body li a:hover {
	background-color:#ffffff;	/*リンクにマウスが乗ったら色を変える*/
}

ul#submenu_body i {
	color: darkblue;
}

ul#subuul {
	padding-left:25px;
}

ul li {
	list-style-type: none!important;
}

ul#ruby_class li:before {
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	content: '\f3a5';
	color: #ff0123;
}

ul#submenu_body li:before {
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	content: '\f105';
	color: #21b384;
}
ul#subuul li:before {
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	content: '\f101';
	color: #21b384;
}

/*============================================
メイン（中央カラム）
============================================*/
div#main {
	position:absolute;
	margin-top:100px;
	padding:25px;
	right: 70px;
	width:60%; margin-right:5px; padding-top:10px;
	left:30%;
}

#Ruby,#ADC,#I2C,#PWM,#Timer,#UART,#Math,#ETC,
#ADC_start,#ADC_stop,#ADC_read,#ADC_read_v,#ADC_ch,
#I2C_write,#I2C_read,
#PWM_new,#PWM_cycle,#PWM_rate,#PWM_start,#PWM_stop,#PWM_pin,
#Timer_start,#Timer_stop,#Timer_set,#Timer_count_clear,#Timer_count_get,
#UART_new,#UART_gets,#UART_puts,#UART_clear_buffer,
#leds_write,#sw,#pinMode,#pinPull,#pinInit,#digitalWrite {
	margin-top:-100px;
	padding-top:100px;
 }

 hr#first_boader{
	border-top: 3px double blue;
 }
 hr#second_boader{
	border-top: 1px dashed rgb(176, 176, 253);
 }

 #top_page{
	width: 100%;
	height: 120%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }

