<div id="submenu_header">Menu</div>
<ul id="submenu_body">
  <i class="fas fa-home"></i><a href="./index.html">HOME</a>
  <li><details>
    <summary>program</summary>
    <ul id="subuul">
      <li><a href="./ide_install_en.html">mruby/c IDE setup</a></li>
      <li><a href="./write_program_en.html">program writing</a></li>
      <li><a href="./update.html">Firmware update</a></li>
      <li><a href="./class.html">old board class(mruby/c1.4)</a></li>
      <li><a href="./mrubyc_class_en.html">board class(mruby/c2.1)</a></li>
      <li><a href="./class_common_en.html">board standard class(mruby/c3.3)</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>board list</summary>
    <ul id="subuul">
    <li><a href="./board_list.html">board list</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>sensor sample program</summary>
    <ul id="subuul">
      <li><a href="./sensor_module.html">Compatible sensor module</a></li>
      <li><a href="./adc.html">ADC sample</a></li>
      <li><a href="./i2c.html">I2C sample</a></li>
      <li><a href="./pwm.html">PWM sample</a></li>
      <li><a href="./uart.html">UART sample</a></li>
      <li><a href="./etc.html">others sample</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>others</summary>
    <ul id="subuul">
      <li><a href="./console_en.html">Terminal software settings</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>tutorial</summary>
    <ol id="subuol">
      <li><a href="./tutorial_mrubyc.html">What is mruby/c?</a></li>
      <li><a href="./tutorial_led.html">control the LED</a></li>
      <li><a href="./tutorial_rgb_led.html">full color LED</a></li>
      <li><a href="./tutorial_reed_switch.html">door open/close sensor</a></li>
      <li><a href="./tutorial_buzzer.html">Piezo Transducer</a></li>
      <li><a href="./tutorial_cds.html">light sensor</a></li>
      <li><a href="./tutorial_temp.html">temperature sensor</a></li>
    </ol>
  </details></li>
</ul>