<div id="submenu_header">もくじ</div>
<ul id="submenu_body">
  <i class="fas fa-home"></i><a href="./index.html">HOME</a>
  <li><details>
    <summary>プログラム書き込み</summary>
    <ul id="subuul">
      <li><a href="./ide_install.html">mruby/c IDEインストール</a></li>
      <li><a href="./write_program.html">PG書き込み</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>ファームウェアアップデート</summary>
    <ul id="subuul">
      <li><a href="./update.html">アップデート手順</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>ボード一覧</summary>
    <ul id="subuul">
    <li><a href="./board_list.html">ボード一覧</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>RBoardにおける各クラス</summary>
    <ul id="subuul">
      <li><a href="./class.html">各クラス</a></li>
      <li><a href="./mrubyc_class.html">mruby/c IO 各クラス</a></li>
      <li><a href="./class_common.html">mruby/cIO標準化準拠クラス</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>サンプルプログラム</summary>
    <ul id="subuul">
      <li><a href="./adc.html">ADCサンプル</a> / <a href="./sample_adc.html">ver2</a></li>
      <li><a href="./i2c.html">I2Cサンプル</a> / <a href="./sample_i2c.html">ver2</a></li>
      <li><a href="./pwm.html">PWMサンプル</a> / <a href="./sample_pwm.html">ver2</a></li>
      <li><a href="./uart.html">UARTサンプル</a> / <a href="./sample_uart.html">ver2</a></li>
      <li><a href="./etc.html">その他サンプル</a> / <a href="./sample_etc.html">ver2</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>その他</summary>
    <ul id="subuul">
      <li><a href="./sensor_module.html">対応センサーモジュール</a></li>
      <li><a href="./console.html">ターミナルソフトの設定</a></li>
    </ul>
  </details></li>
  <li><details>
    <summary>チュートリアル</summary>
    <ol id="subuol">
      <li><a href="./tutorial_mrubyc.html">mruby/cとは？</a></li>
      <li><a href="./tutorial_led.html">LEDを制御する</a></li>
      <li><a href="./tutorial_rgb_led.html">フルカラーLED</a></li>
      <li><a href="./tutorial_reed_switch.html">ドア開閉センサ</a></li>
      <li><a href="./tutorial_buzzer.html">圧電ブザー</a></li>
      <li><a href="./tutorial_cds.html">光センサ</a></li>
      <li><a href="./tutorial_temp.html">温度センサ</a></li>
    </ol>
  </details></li>
</ul>