<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="./image/bug.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176702602-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176702602-1');
    </script>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script type="text/javascript" src="./style.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.11.0/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div id="header"><h1> {{ page.title }} </h1></div>
    <div id="main">
      {{ content }}
    </div>
    
    <div id="submenu">
      {% include jp_contents.html %}
    </div>
  </body>
</html>